$header-background: #967AA1;
$header-foreground: #192A51;
$header-foreground-active: #46351D;

$menu-background: #F5E6E8;
$menu-background-active: #D5C6E0;
$menu-foreground: #192A51;


$border-color: #AAA1C8;

$footer-color: #46351D;
$footer-background: #bdbdbd;

$font-size-h1: 140%;
$font-weight-h1: bold;